* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  color: #393a3d;
  text-align: center;
  font-family: Avenir;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
}

h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

h5 {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.container__main {
  display: flex;
  height: 1486px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 125px;
}

.containter__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.container__heading {
  display: flex;
  flex-direction: column;
  width: 542px;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.container__toggle {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  border-radius: 24px;
  border: 0.25px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
}

.toggle {
  display: flex;
  max-height: 100px;
  padding: 20px 40px;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  border-radius: 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.active {
  background: #0097e6;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.inactive {
  color: #000;
}

.container__pricing--visual {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__columns {
  display: flex;
  align-items: flex-start;
}

.column__volume-tiers {
  display: flex;
  height: 630px;
  margin-right: -20px;
  flex-direction: column;
  border-radius: 24px 0px 0px 24px;
  background: #0097e6;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.container__header-columns {
  display: flex;
  align-items: flex-start;
  background: linear-gradient(180deg, #393a3d 14%, #000 100%);
}

.header-columns__left {
  border-radius: 24px 0px 0px 0px;
  padding: 17px 60.95px 16px 16px;
}

.header-columns__right {
  border-radius: 0px 24px 0px 0px;
  padding: 17px 75px 16px 16px;
}

.return-volume-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.return-volume-list li {
  display: flex;
  min-height: 97px;
  max-height: 97px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.one {
  background: #34bfff;
}

.two {
  background: #21abf6;
}

.three {
  background: #0097e6;
}

.four {
  background: #0077c5;
}

.five {
  background: #055393;
}

.six {
  border-radius: 0px 0px 0px 24px;
  background: #053d6d;
}

.container__checklist {
  display: flex;
  height: 640px;
  padding: 0px 0px 50px 16px;
  flex-direction: column;
  margin-left: -24px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 0px 24px 24px 0px;
  background: #ebf9ff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.container__checklist-items {
  display: flex;
  padding: 0px 20px 20px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.container__checklist-items li {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 8px;
  width: 216.19px;
  height: 38px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.container__pricing {
  display: flex;
  padding: 31px 79px 34px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  z-index: 2;
  margin-top: -20px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.container__return-types {
  display: flex;
  padding: 8px 100px 8px 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.container__msrp {
  display: flex;
  width: 448px;
  height: 100px;
  padding: 20px 76.855px 21.75px 77.065px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7.25px;
  border-radius: 4px;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.badge {
  display: flex;
  width: 183px;
  height: 29px;
  padding: 4px 10.69px 3px 10.89px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: #c9007a;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.return-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 448px;
}

.return-pricing li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.strikethrough {
  text-decoration: line-through;
  color: #9d9d9d;
}

.subtext {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.container__pricing-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.container__pricing-guarantee {
  display: flex;
  width: 1300px;
  padding: 0px 432.74px 0px 432.73px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.guarantee-badge {
  display: flex;
  padding: 4px 11.5px 3px 8px;
  align-items: center;
  border-radius: 4px;
  background: #6436af;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
